.wrapper {
  width: 200px;
  height: 200px;
  background-color: green;
  position: relative;
}

.box {
  width: 70px;
  height: 70px;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s ease-in-out;
}

.box:hover {
  transform: translate(-50%, -50%) rotate(45deg) scale(2);
  background: linear-gradient(
    rgb(15, 15, 109),
    rgb(15, 99, 109),
    rgb(199, 54, 54)
  );
}

.card {
  width: 200px;
  height: 250px;
  background-color: #888;
  border-radius: 8px;
  margin: 0 auto;
  transition: transform 0.8s ease-in-out;
}

.card:hover {
  transform: scale(1.2);
}

button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px 18px;
  cursor: pointer;
  transition: all 0.5s ease;
}

button:hover {
  background-color: olivedrab;
  color: #fff;
  box-shadow: 0px 0px 32px 13px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 0px 0px 32px 13px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 0px 32px 13px rgba(0, 0, 0, 0.54);
}

/* .spinner {
  width: 60px;
  height: 60px;
  border: 5px solid #ccc;
  border-top-color: rgb(27, 27, 184);
  border-radius: 50%;
  animation: Loader 0.8s infinite;
}

@keyframes Loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.space {
  height: 100vh;
  background: linear-gradient(
    to right bottom,
    rgb(2, 2, 75),
    rgb(4, 4, 97),
    rgb(15, 15, 155),
    rgb(2, 2, 75),
    rgb(2, 2, 75)
  );
}

.jupiter {
  width: 150px;
  height: 150px;
  background: linear-gradient(
    #7b725f,
    #ab977f,
    #bdc0cb,
    #a55e3b,
    #bdc0cb,
    #9b8875,
    #7b725f
  );
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moon-orbit {
  width: 250px;
  height: 250px;
  /* border: 1px dashed #ccc; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: MoonRotation 5s linear infinite;
}

.moon {
  width: 30px;
  height: 30px;
  background-color: #e4e4e4;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes MoonRotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
